@import url("https://fonts.googleapis.com");
@import url("https://fonts.gstatic.com");
@import url("https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap");

.offscreen{
    display: none;
}
.instructions{
    display: block;
}
.line{
    font-family: "Host Grotesk", sans-serif;
    font-optical-sizing: auto;
    text-transform: uppercase;
}
.line a {
    text-decoration: underline;
}